<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Yabe</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>CheckServlet</display-name>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>com.ebay.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignUpServlet</display-name>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.ebay.servlet.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AuctionServlet</display-name>
		<servlet-name>AuctionServlet</servlet-name>
		<servlet-class>com.ebay.servlet.AuctionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuctionServlet</servlet-name>
		<url-pattern>/auction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FaqServlet</display-name>
		<servlet-name>FaqServlet</servlet-name>
		<servlet-class>com.ebay.servlet.FaqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FaqServlet</servlet-name>
		<url-pattern>/FAQ</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AnsServlet</display-name>
		<servlet-name>AnsServlet</servlet-name>
		<servlet-class>com.ebay.servlet.AnswerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnsServlet</servlet-name>
		<url-pattern>/ans</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>searchproduct</display-name>
		<servlet-name>searchproduct</servlet-name>
		<servlet-class>com.ebay.servlet.searchproduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchproduct</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BidServlet</display-name>
		<servlet-name>BidServlet</servlet-name>
		<servlet-class>com.ebay.servlet.BuyerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BidServlet</servlet-name>
		<url-pattern>/bid</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateBidServlet</display-name>
		<servlet-name>UpdateBidServlet</servlet-name>
		<servlet-class>com.ebay.servlet.UpdateBidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBidServlet</servlet-name>
		<url-pattern>/updateBid</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>AutoServlet</display-name>
		<servlet-name>AutoServlet</servlet-name>
		<servlet-class>com.ebay.servlet.AutoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoServlet</servlet-name>
		<url-pattern>/auto</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>AdminRegisterServlet</display-name>
		<servlet-name>AdminRegisterServlet</servlet-name>
		<servlet-class>com.ebay.servlet.AdminRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminRegisterServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveAuctionServlet</display-name>
		<servlet-name>RemoveAuctionServlet</servlet-name>
		<servlet-class>com.ebay.servlet.RemoveAuctionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveAuctionServlet</servlet-name>
		<url-pattern>/rauction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DropAuctionServlet</display-name>
		<servlet-name>DropAuctionServlet</servlet-name>
		<servlet-class>com.ebay.servlet.DropAuctionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DropAuctionServlet</servlet-name>
		<url-pattern>/drop</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveBid</display-name>
		<servlet-name>RemoveBid</servlet-name>
		<servlet-class>com.ebay.servlet.RemoveBid</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveBid</servlet-name>
		<url-pattern>/RemoveBid</url-pattern>
	</servlet-mapping>
</web-app>